.navbar {
  background-color: black;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 5;
  /* transition: all 1s ease; */
}

.wrapper {
  padding: 5px 20%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.right {
  color: white;
}

.hamburger {
  width: 32px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  
}

.hamburger span {
  width: 100%;
  height: 3px;
  background-color: white;
  transform-origin: left;
  transition: all 1s ease;
  
}

.navbar.active .hamburger span:first-child{
  transform: rotate(60deg);
  background-color: yellow;
}
.navbar.active .hamburger span:nth-child(2){
  transform: translate(0,-10px);
  background-color: brown;
  z-index: 1;

}
.navbar.active .hamburger span:last-child{
  transform: rotate(-60deg) translate(3px, 16px);
  background-color: yellow;
}
