.intro {
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;
}

.introImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introFigure {
  position: absolute;
  width: 4000px;
  height: 200px;
  bottom: 200px;
  left: -90px;
  background-color: hsl(2, 100%, 50%);
  transform: rotate(-2deg);
}

.introInfo {
  position: absolute;
  bottom: 280px;
  left: 30%;
  transform: translate(-50%, 50%);
}

.introInfo h1 {
  font-size: 150px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 2px white;
}


